* {
	box-sizing: border-box;
}
.title {
	font-size: 52px;
}
div {
	border: 10px solid black;
}
.app {
	display: flex;
}
.screenshot {
	max-width: 560px;
}
.description {
	color: red;
	max-width: 720px;
}
.new-class {
	font-size:20px;
	max-width: 920px;
}