* {
	box-sizing: border-box;
}
.title {
	font-size: 36px;
}
div {
	border: 1px solid black;
}
.app {
	display: flex;
}
.screenshot {
	max-width: 460px;
}
.description {
	color: red;
	max-width: 720px;
}